<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Professional</title>
</head>
<body>
    <h1>New Professional</h1>
    <form action="/professionals" <%= professional._id %>?_method=PUT" method="POST">
        <input name="name" placeholder="Name" required value = <%= professional.name %>> <br>
        <input name="type" placeholder="Type" required value = <%= professional.type %>> <br>
        <input name="description" placeholder="Description" value = <%= professional.description %>> <br>
        <input name="location" placeholder="Location" value = <%= professional.location %>> <br>
        <input name="contact" placeholder="Contact" value = <%= professional.contact %>> <br>
        <input name="valuation" placeholder="Valuation (optional)" value = <%= professional.valuation %>> <br>
        <input name="tags" placeholder="Tags (comma separated)" value = <%= professional.tags %>><br>
        <button type="submit">Save changes</button>
    </form>
    <a href="/professionals">Back to list</a>
</body>
</html>